* {
  margin: 0;
  padding: 0;
  width: 100%;
}
.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
}
.header__img {
  flex: 1;
  padding: 50px 32px;
}
.header__img > img {
  width: 100px;
  height: 66px;
}

.header__option {
  flex: 1;
  padding: 50px 32px;
  width: 100px;
  height: 66px;
}

.intro__background {
  -webkit-mask-image: radial-gradient(ellipse, black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(ellipse, black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(ellipse, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%) !important;
}
