:root {
  --color-bg: #1c1c1c;
  --color-red: #e84545;
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
/* Header */
.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 32px;
}
.header__img {
  flex: 1;
}
.header__img > img {
  width: 100px;
  height: 66px;
}
#masked {
  z-index: 10;
  /* background-color: black; */
  /* background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%); */

  /* -webkit-mask-image: radial-gradient(
    circle at 50% 50%,
    rgb(0, 0, 0) 40%,
    rgba(0, 0, 0, 0.617) 70%
  ); */

  /* -webkit-mask-image: radial-gradient(circle at center, red 0, blue, green 100%); */
}

.header__option {
  flex: 1;
  width: 100px;
  height: 66px;
  display: flex;
  align-items: center;
}

.option__search {
  display: flex;
}
.option__menu {
  width: 50px;
}

/* Intro */
.intro {
  position: relative;
}
.intro__background {
  height: 100%;
  width: 100%;
}

.intro__background > img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.intro__list {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 50px;
  justify-content: space-between;
}

.intro__list span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
.intro__list span > * {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
}
.intro__list span > p:nth-child(1) {
  color: var(--color-red);
}
.list__left {
  display: flex;
  flex: 2;
}
.list__left div:nth-child(1) {
  height: 76px;
  width: 280px;
  align-self: end;
  border-left: 4px solid var(--color-red);
  background: rgb(0, 0, 0, 0.5);
}

.list__right {
  display: flex;
  flex: 1;
  align-self: flex-end;
  opacity: 0.6;
  justify-content: space-around;
}

#active_intro {
  margin-left: 50px;
  border-bottom: 1px solid var(--color-red);
  border-left: 1px solid var(--color-red);
  position: relative;
  padding-bottom: 5px;
}
#active_intro h1:nth-child(1) {
  font-size: 70px;
  color: var(--color-red);
}
#active_intro p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-red);
}
#active_intro h1:nth-child(3) {
  font-size: 32px;
  text-transform: none;
}

.border__box {
  position: absolute;
  left: -31px;
  bottom: -31px;
  height: 30px;
  width: 30px;
  border-top: 1px solid var(--color-red);
  border-right: 1px solid var(--color-red);
}
/* About */
.about {
  background-color: var(--color-bg);
  display: flex;
  height: 500px;
}
.about__left {
  flex: 1;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.arrow_prev {
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1.6px solid var(--color-red);
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
}
.text-red {
  font-weight: 700;
  font-size: 100px;
  /* line-height: 195px; */
  color: var(--color-red);
}
.about__left h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}
.text-about {
  display: flex;
}
.about__right {
  flex: 1;
  position: relative;
}
.arrow_next {
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1.6px solid var(--color-red);
  background-color: var(--color-red);
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 1;
}
.about__right > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__left__textaera {
  margin-top: 40px;
}
.about__left__textaera p {
  margin-left: 250px;
  margin-right: 90px;
  width: 320px;
  overflow-wrap: break-word;
  font-size: 12px;
}
.read-more {
  display: flex;
  margin-top: 45px;
  margin-right: 70px;
  align-items: center;
}
.read-more p {
  margin-left: 5px;
  color: var(--color-red);
  font-weight: 700;
}
.ml-100 {
  margin-left: 100px;
}

/* Wedo */
.wedo {
  background-color: var(--color-bg);
  padding: 70px 0;
}
.wedo__top {
  position: relative;
  width: 100%;
}

.wedo__top__logo {
  opacity: 0.05;
  width: 50%;
}
.wedo__top__text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100%; */
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

.wedo__top__text span {
  font-weight: 700;
  font-size: 60px;
  color: var(--color-red);
}

.wedo__top__logo img {
  width: 100%;
  height: 100%;
}
.wedo__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.wedo__bottom__text:nth-child(2) {
  margin-left: 60px;
}
.wedo__bottom__item {
  height: 400px;
  width: 400px;
  border: 10px solid #464646;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.selected {
  border: 10px solid var(--color-red);
}
.wedo__bottom__item > * {
  padding: 0 40px;
}
.wedo__bottom__item h3 {
  font-size: 40px;
}

.wedo__bottom h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

/* Projects */
.projects {
  display: flex;
  position: relative;
  width: 100%;
  height: 1080px;
}
.projects > span {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 10;
}
.projects > span h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}
.projects > span > h1:nth-child(2) {
  margin-left: 30%;
}
.projects__item {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.projects__item h2 {
  color: var(--color-red);
  position: absolute;
  text-transform: uppercase;
  bottom: 2%;
  right: 3%;
  font-weight: 600;
  font-size: 40px;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.projects__item img {
  flex: none;
}

/* Customer */
.customer {
  display: flex;
  padding: 10%;
  background: var(--color-bg);
}
.customer__left {
  flex: 1;
}
.customer__left > span > h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}
.customer__right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.customer__logo {
  width: 20%;
}
.customer__logo img {
  width: 100%;
  object-fit: cover;
  display: block;
}
