* {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}
.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
}
.header__img {
  flex: 1;
  padding: 50px 32px;
}
.header__img > img {
  width: 100px;
  height: 66px;
}

.header__option {
  flex: 1;
  padding: 50px 32px;
  width: 100px;
  height: 66px;
}

.header__option p {
  font-weight: 400px;
}

.intro__background {
}

.intro__background > img {
  height: 100%;
  width: 100%;
}
