* {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
/* Header */
.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 32px;
}
.header__img {
  flex: 1;
}
.header__img > img {
  width: 100px;
  height: 66px;
}
#masked {
  background-color: black;
  /* -webkit-mask-image: radial-gradient(
    circle at 50% 50%,
    rgb(0, 0, 0) 40%,
    rgba(0, 0, 0, 0.617) 70%
  ); */

  /* -webkit-mask-image: radial-gradient(circle at center, red 0, blue, green 100%); */
}

.header__option {
  flex: 1;
  width: 100px;
  height: 66px;
  display: flex;
  align-items: center;
}

.option__search {
  display: flex;
}
.option__menu {
  width: 50px;
}

/* Intro */
.intro {
  position: relative;
}
.intro__background {
  height: 100%;
  width: 100%;
}

.intro__background > img {
  object-fit: cover;
}
.intro__list {
  display: flex;
  position: absolute;
  bottom: 50px;
  justify-content: space-between;
}
.intro__list li {
  width: 280px;
  height: 76px;
}
.intro__list li:nth-child(1) {
  border-left: 4px solid #e84545;
  background: rgb(0, 0, 0, 0.5);
}
.intro__list span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
.intro__list span > * {
  font-size: 18px;
  font-weight: 700;
  z-index: 10;
}

.intro__list span > p:nth-child(1) {
  color: #e84545;
}
#active_intro {
}
